html, body {
  font-family: "Noto Sans", "Noto Sans CJK TC", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

.title {
  font-size: 45px;
  font-weight: normal;
  color: #FFFFFF;
  padding-top: 15px;
  padding-bottom: 15px;
}

h1 {
  font-size: 30px;
  font-weight: 500;
  padding-top: 71px;
  padding-bottom: 64px;
  color: #515151;
}

h2 {
  font-size: 24px;
  font-weight: 500;
  padding-top: 7px;
  padding-bottom: 7px;
}

h3 {
  font-size: 16px;
  font-weight: 300;
  padding-top: 4px;
  padding-bottom: 4px;
}

section {
  position: relative;
}


.even {
  color: #FFFFFF;
}

.even h1 {
  font-size: 25px;
  padding-top: 38px;
  padding-bottom: 20px;
  color: #FFFFFF;
}

.container {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.41);
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 36px;
  padding-bottom: 90px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* nav */
.navbar {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
}

.nav {
  height: 50px;
  max-width: 1280px;
  margin: 0 auto;
  justify-content: space-between;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
}

.nav > *:first-child {
  margin-left: 20px;
}

.nav > *:last-child {
  margin-right: 20px;
}

.nav a {
  color: #515151;
  padding-right: 38px;
}
.nav a:last-child {
  padding-right: 0px;
}

.nav a:after {
  content: '';
}

/* cover */
.cover {
  position: relative;
}

.cover > img {
  width: 100%;
}

@media screen and (max-width: 640px) {
  .cover {
    height: 850px;
    overflow: hidden;
    position: relative;
  }

  .cover > img {
    height: 100%;
    width: inherit;
    position: absolute;
    left: 50%;
    margin-left: -1300px;
  }

  .main {
    align-items: flex-end;
    color: #FFFFFF;
  }
}

/* step */
.step {
  justify-content: space-between;
  max-width: 1145px;
  margin: 0 auto;
}

@media screen and (max-width: 640px) {
  .step {
    width: 540px;
  }

  .step > *:first-child,
  .step > *:last-child {
    display: none;
  }
}

/* fee */
.note {
  color: #000000;
}

.fee > img {
  width: 100%;
}

.portrait {
  display: none;
}

@media screen and (max-width: 640px) {
  .landscape {
    display: none;
  }

  .portrait {
    display: block;
  }
}

/* quality */
.quality {
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
}

@media screen and (max-width: 640px) {
  .quality {
    flex-direction: column;
    align-items: stretch;
    width: 430px;
    height: 650px;
  }
}

/* feedback */
.feedback {
  height: 570px;
  background-image: url('../www/image/feedback.png');
  background-size: cover;
}

.comment {
  color: #FFFFFF;
  flex-direction: column;
}

.comment > * {
  padding-bottom: 22px;
}

/* footer */
.link {
  padding-top: 36px;
}

.app {
  padding-top: 24px;
  padding-bottom: 24px;
  width: 245px;
  margin: 0 auto;
  justify-content: space-between;
}

.copyright {
  padding-top: 4px;
  padding-bottom: 4px;
}