.card {
  width: 200px;
  height: 450px;
  text-align: center;
}

.image {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  font-weight: 500;
}

.content {
  font-size: 16px;
  line-height: 22px;
  text-align: left;
}