.enter {
  background: #00A9CE;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
  border-radius: 5px;
  width: 200px;
  height: 59px;
  font-size: 20px;
  font-weight: 500;
  color: #FFFFFF;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}